<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- ProductGuid should change whenever ProductVersion changes -->
    <?define ProductVersion="2.2.1" ?>
    <?define ProductGuid="A199C442-67ED-48C2-946D-437B100693A0" ?>
    <Product Id="$(var.ProductGuid)" Name="Embroidery Reader" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Nathan Crawford" UpgradeCode="CE1642E2-5EE0-454F-B7DF-5C9C92D6D40D">
        <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="ROOTDIR" Name="NJCrawford Software">
                <Directory Id="PRODUCTDIR" Name="Embroidery Reader">
                    <Component Id="RequiredFiles" DiskId="1" Guid="ad3defbe-e276-41ab-9d76-9ab9f2976ac2">
                        <File Id="EMBROIDERYREADER.EXE" Name="embroideryReader.exe" Source="..\embroideryReader\bin\Release\embroideryReader.exe" KeyPath="yes">
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Embroidery Reader" Advertise="yes" Icon="StartMenuIcon.ico" />
                        </File>
                        <ProgId Id="EmbroideryDesign" Description="Embroidery Design File" Icon="StartMenuIcon.ico" Advertise="yes">
                            <Extension Id="pes" Advertise="yes">
                                <Verb Id="open" Command="&amp;Open" Argument="&quot;%1&quot;" Sequence="1" />
                            </Extension>
                        </ProgId>
                        <File Id="PESFILE.DLL" Name="PesFile.dll" Source="..\embroideryReader\bin\Release\PesFile.dll" />
                        <File Id="INIFILE.DLL" Name="IniFile.dll" Source="..\embroideryReader\bin\Release\IniFile.dll" />
                        <File Id="ERRORREPORTER.DLL" Name="ErrorReporter.dll" Source="..\embroideryReader\bin\Release\ErrorReporter.dll" />
                    </Component>
                    <Directory Id="TRANSLATIONS" Name="translations">
                        <Component Id="Translations" DiskId="1" KeyPath="yes" Guid="4ac2c11d-b2c9-4557-a618-fa4bacf50889">
                            <File Id="EN_US.INI" Name="en-US.ini" Source="..\translations\en-US.ini" />
                            <File Id="IT_IT.INI" Name="it-IT.ini" Source="..\translations\it-IT.ini" />
                            <File Id="ZH_HANS.INI" Name="zh-Hans.ini" Source="..\translations\zh-Hans.ini" />
                            <File Id="ZH_HANT.INI" Name="zh-Hant.ini" Source="..\translations\zh-Hant.ini" />
                        </Component>
                    </Directory>
                </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Embroidery Reader">
                    <Component Id="StartMenuShortcuts" Guid="DDE4256E-E2D5-477F-A006-929245B20219">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="RequiredFiles" />
            <ComponentRef Id="Translations" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
        <!-- Require .Net Framework 4.0 Client profile -->
        <PropertyRef Id="NETFRAMEWORK40CLIENT" />
        <Condition Message="This application requires .NET Framework X.Y.">Installed OR NETFRAMEWORK40CLIENT</Condition>
        <!-- Icon for start menu and file association -->
        <Icon Id="StartMenuIcon.ico" SourceFile="..\embroideryReader\icon.ico" />
        <!-- Allow upgrades from any older version with a Wix-based installer -->
        <MajorUpgrade DowngradeErrorMessage="Downgrades are not supported. If you would like to install this version, you must uninstall the newer version first." />
        <!-- Install for all users (or highest available level) by default -->
        <Property Id="ALLUSERS" Value="2" />
        <!-- Show help link in Programs and Features -->
        <Property Id="ARPHELPLINK" Value="http://www.njcrawford.com/contact/" />
        <!-- Show contact in Programs and Features -->
        <Property Id="ARPCONTACT" Value="http://www.njcrawford.com/contact/" />
        <!-- Show info/about URL in Programs and Features -->
        <Property Id="ARPURLINFOABOUT" Value="http://www.njcrawford.com/programs/embroidery-reader/" />
        <!-- Show icon in Programs and Features -->
        <Property Id="ARPPRODUCTICON" Value="StartMenuIcon.ico" />
        <!-- Search for pre-Wix installer versions -->
        <Property Id="OLD_INSTALL">
            <RegistrySearch Id="SearchForOldVersions" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Embroidery Reader" Name="DisplayName" Type="raw" />
        </Property>
        <Condition Message="Embroidery Reader 1.5 or earlier is installed. Please remove previous versions of Embroidery Reader and run the installer again.">OLD_INSTALL = null</Condition>
        <!-- It doesn't appear that PREVIOUSVERSIONSINSTALLED is needed with MajorUpgrade -->
        <!-- <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" /> -->
        <!-- Specify license file -->
        <WixVariable Id="WixUILicenseRtf" Value="..\docs\license.rtf" />
        <!-- Specify custom banner bitmap 493x58 -->
        <WixVariable Id="WixUIBannerBmp" Value="images\banner.bmp" />
        <!-- Specify custom dialog bitmap 493x312 -->
        <WixVariable Id="WixUIDialogBmp" Value="images\dialog.bmp" />
    </Product>
</Wix>